* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

.app-shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
}